.logo {
    width: 200px;
    display: block;
    margin: auto;
}

.iconCard {
    padding-top: 10px;
}

.buttonStyle {
    --background: #1dcaff;
    width: 50px;
}

.optionsButton {
    --background: #1dacff;
}

.background {
    --background: #f9f9f9;
}

.transparent {
    --background: rgba(0, 0, 0, 0);
}