.logo {
    width: 100px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.iconCard {
    padding-top: 10px;
}

.buttonStyle {
    --background: #1dcaff;
    width: 50px;
}

.optionsButton {
    --background: #1dacff;
}
