<ion-header>
  <ion-toolbar>
    <ion-title>Tweets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <img class="logo" src="assets/twitterlogo.png" />
  <ion-grid>
    <ion-row align-items: center>
      <ion-col size="10"> 
        <ion-searchbar [(ngModel)]="input" (keyup.enter)="checkOnEnter()" placeholder="#javascript"></ion-searchbar>
      </ion-col>
      <ion-col size="2" align-self-center>
        <ion-button (click)="activateFilters()" class="optionsButton">
          <ion-icon name="options"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <div  *ngIf=filtersActive>
   
      <ion-row align-items: center>
        <ion-col size="12">
            <ion-item class="transparent">
                <ion-label>Location</ion-label>
                <ion-toggle [(ngModel)]="locationToggle" (ngModelChange)="checkToggle()"></ion-toggle>
              </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-col size="12">
        <ion-item class="transparent">
          <ion-label>sort by</ion-label>
          <ion-select [(ngModel)]="sortValue" (ngModelChange)="sort()">
            <ion-select-option value="author">Author</ion-select-option>
            <ion-select-option value="date">Date</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item class="transparent">
          <ion-input [(ngModel)]="searchText" (ngModelChange)="searchInTweet()" placeholder="search through tweets"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
  </ion-grid>

  <p *ngIf="missingData" [style.text-align]="'center'">No tweets found :-(</p>
  <ion-card *ngFor="let tweet of filteredData"  routerLink="/selected-tweet" [style.margin-bottom]="'20px'">
    <ion-item>
      <ion-img class="iconCard" src={{tweet.user.profile_image_url}} slot="start"></ion-img>
      <ion-label>{{tweet.user.name}}</ion-label>
      <ion-button class="buttonStyle" slot="end" (click)="onSelect(tweet)">
        <ion-icon name="arrow-round-forward"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-card-content>
      {{tweet.text}}
    </ion-card-content>
  </ion-card>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>



</ion-content>